In [1]:
import pandas as pd
import yfinance as yf
import tools

In [5]:
schema = "finance"

In [2]:
con = tools.connect_postgres(abschnitt="azure_postgres_testuser")

In [6]:
query = f"select * from {schema}.load_symbols"
df = pd.read_sql(query, con)
df

   symbol
0    AAPL
1    MSFT
2    AMZN
3    TSLA
4    META
5  SIE.DE

In [8]:
for s in df["symbol"]:
    print(s)
    t = yf.Ticker(s)
    tools.insert_history(con, t)

AAPL
Eintrag existiert schon
- AAPL: Invalid input - start date cannot be after end date. startDate = 1663970400, endDate = 1663923517
MSFT
Eintrag existiert schon
- MSFT: Invalid input - start date cannot be after end date. startDate = 1663970400, endDate = 1663923522
AMZN
Eintrag existiert schon
- AMZN: Invalid input - start date cannot be after end date. startDate = 1663970400, endDate = 1663923527
TSLA
Eintrag existiert schon
- TSLA: Invalid input - start date cannot be after end date. startDate = 1663970400, endDate = 1663923531
META
Eintrag existiert schon
SIE.DE